# This is a basic workflow to help you get started with Actions

name: Noetic

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
    paths-ignore: 
      - '**/README.md'
      - '**/HOWTO.md'
      - '**/DEVELOPMENT.md'
      - '**/FAQ.md'
  pull_request:
    branches: [ main ]

  schedule:
    - cron:  '0 0 * * *' # at the end of every day

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  
  cancel:
    name: Cancel Previous Runs
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}

  # This workflow contains a single job called "build"
  build:

    # The type of runner that the job will run on
    runs-on: ubuntu-20.04
    needs: cancel
    env: 
      CATKIN_WORKSPACE: uav_ws

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Install
        run: ./.ci/ci_before_install.sh

      # Runs a set of commands using the runners shell
      - name: Build
        run: ./.ci/ci_test_build.sh

      # Runs a set of commands using the runners shell
      - name: Test
        run: ./.ci/ci_run_tests.sh

    deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04
    needs: build
    if: github.event_name != 'pull_request' 
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          file: Dockerfile.focal
          push: true
          tags: lmark1/uav_ros_simulation:focal
